@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway");
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.6rem;
  color: #261c15;
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  border: 1px solid #f6f6f6;
  padding: .5rem; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  border: 1px solid #0f0; }

input[type="color"]:active, input[type="date"]:active, input[type="datetime"]:active, input[type="datetime-local"]:active, input[type="email"]:active, input[type="month"]:active, input[type="number"]:active, input[type="password"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="text"]:active, input[type="time"]:active, input[type="url"]:active, input[type="week"]:active, input:not([type]):active, textarea:active {
  border: 1px solid #00f; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #e4e6c3;
  border: 1px #f6f6f6;
  border-radius: 3px;
  padding: .5rem; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #0f0; }

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  background-color: #00f; }

nav ul {
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  padding: 0 10px; }
  nav a:hover {
    color: #c5d86d; }

.site-footer {
  background-color: #261c15;
  color: #f7f7f2; }

.social-menu {
  padding: 1rem 0; }

.social-menu a {
  color: white;
  text-decoration: none; }
  .social-menu a:before {
    font-family: FontAwesome;
    padding: 0 10px 0 0;
    color: #f05d23; }
  .social-menu a.twitter:before {
    content: '\f099'; }
  .social-menu a.facebook:before {
    content: '\f09a'; }
  .social-menu a.linkedin:before {
    content: '\f0e1'; }

.site-header {
  background: #261c15; }

.site-title {
  color: #f7f7f2; }

.header-nav a {
  color: #e4e6c3; }
