.hero .overlay {
  background: rgba($orange, 0.5);
}
.hero {
  text-align: center;
}
.hero .wrap {
  padding: 60px 0;
}
.feature img {
  border-radius: $default-border-radius;
  @include size(250px auto);
}
.photo img {
  border-radius: $default-border-radius;
  @include size(150px);
}